body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rokkitt', serif;
}

h1 {
    font-size: 3rem;
}
h1 span {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.3rem;
}


#home{
    background-image: url(../images/bg_header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



#about{

    background-image: url(../images/bg_nuage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-cyan{
    background-color: #00dffc88;
}

.photodublog{   
    height:75vh;
    background-size:contain ;
    background-repeat: no-repeat;  
    background-position: center;
}

.textemodifie{
    height:  500px;
    width: 400p;
    
}

#history{

    background-image: url(../images/bg_appareil_photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.imageapphoto{

    padding-top: 345px;
    padding-bottom: 140px;
}


#contact {
    background-image: url(../images/bg_newsletter.jpg);
    height: 50vh;
}

footer{
    background-color: black;
}